@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'fuente1';
    src: url('src\fonts\Fifties Movies.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}


